{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<head>
    <title>Affichage du produit {{ id }}</title>
</head>
<body>
    <h1>Affichage du produit {{ id }}</h1>
</body>
</html>
{% endblock %}
